@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{

--strong-cyan: hsl(172, 67%, 45%);
--very-dark-cyan: hsl(183, 100%, 15%);
---dark-grayish-cyan: hsl(186, 14%, 43%);
--graying-cyan: hsl(184, 14%, 56%);
--light-grayish-cyan: hsl(185, 41%, 84%);
--very-light-grayish-cyan: hsl(189, 41%, 97%);
--white: hsl(0, 0%, 100%);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main{
    position: absolute;
    top: 20px;
}
body{
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: 100vh;
    margin: 10px;
    font-family: 'Space Mono', sans-serif;
    color: var(--very-dark-cyan);
    height: 100%;
    
}

.main-container{
    background-color: var(--white);
    border-radius: 30px;
    margin: 5px;
    margin-top: 5px;
    max-width: 370px;
    height: 100%;
    padding: 10px;
   


}
.heading{
    margin: 5px;
    margin-top: 10px;
}


.bill-container{
    margin: 10px;
    
}
.bill-input{
    border-radius: 2px;
    padding: 0.3rem 0.7rem;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    border-style: none;
    text-align: right;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    font-family: inherit;
    font-size: 20px;
    background-position-y: center;
    margin-left: 20px;
}
.percent{
display: flex;
flex-wrap: wrap;
flex-direction:row;
justify-content: space-between;
align-items: center;
}


.select-tip{
    margin: 5px;
}
.percentages{
    flex: auto;
    padding: 5px 40px 5px 40px;
    background-color: var(--very-dark-cyan);
    color: white;
    border-radius: 5px;
    margin: 10px;
    border: 20px;
    font-size: 23px;
    cursor: pointer;

}
.no-people{
    border-radius: 5px;
    background-color: var(--very-light-grayish-cyan);
    border: none;
    padding: 10px 35px ;
    margin-left: 30px;
    background-image:url(./images/icon-person.svg);
    background-repeat: no-repeat;
    background-position-y:center;
    text-align: right;
    color: var(--very-dark-cyan);
    font-size:20px;
    font-family: inherit;
}
.tip{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    justify-content:flex-start;
    align-items:flex-end;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    flex: 1;
    border-radius: 20px;
    padding: 5px;
     margin-top: 10px;



}
.person{
    color: var(---dark-grayish-cyan);
    font-family: inherit;
    margin-top: 2px;
    font-weight: 50;

}


.tip-amount{
   
    background-color: var(--very-dark-cyan);
    text-align: right;
    color: var(--strong-cyan);
    padding:5px;
    font-size:20px;
    border: none;
    font-family: inherit;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 65%;
    text-align:right;

}




.reset{
    margin: 20px 30px;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    padding: 10px 100px;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;

    
}

.reset:hover{
    background-color: var(--light-grayish-cyan)
}
.percentages:hover{
    background-color: var(--strong-cyan);
}
.percentages:focus{
    background-color: var(--very-light-grayish-cyan);
}



.attribution {
     font-size: 11px; text-align: center; 
    }
    .attribution a {
         color: hsl(228, 45%, 44%); 
        }